<template>
    <div>
        <v-form class="mt-1">
            <v-text-field
                :rules="nomRules"
                required
                v-model="nom" 
                label="Nom"
            > </v-text-field>

            <v-text-field
                :rules="prenomsRules"
                required
                v-model="prenoms" 
                label="Prénoms"
            > </v-text-field>

            <v-text-field 
                :rules="emailRules"
                required
                v-model="email" 
                label="Email"
            > </v-text-field>

            <v-text-field 
                :rules="telPortableRules"
                required
                v-model="telPortable" 
                label="Téléphone Portable"
            > </v-text-field>
            <v-text-field v-model="telDomicile" label="Téléphone Domicile"> </v-text-field>
        
            <v-btn :disabled="!isValid" color="info" @click="submit({id, nom, prenoms, email, telPortable, telDomicile})">
                {{ id ? "Modifier" : "Ajouter" }}
            </v-btn>

        </v-form>
    </div>
</template>

<script>
export default {
    model: {
        prop: 'dialog',
        event: 'update:dialog',
    },
    props: {
        dialog: {
            type: Boolean,
            required: true,
            default: false,
        },
    },
    data () {
      return {
        nomRules: [
            v => !!v || 'Le nom du contact est requis',
        ],
        prenomsRules: [
            v => !!v || 'Le prénoms du contact est requis',
        ],
        emailRules: [
            v => !!v || "L'E-mail est requis",
            v => /.+@.+/.test(v) || "L'email doit être valide",
        ],
        telPortableRules: [
            v => !!v || 'Le Téléphone Portable du contact est requis',
        ],
      }
    },
    computed: {
        isValid() {
            return this.nom && this.prenoms && this.email && this.telPortable
        },
        id: {
            get() {
                return this.$store.state.contact.id;
            },
            set(value) {
                this.$store.commit("contact/setId", value);
            },
        },
        nom: {
            get() {
                return this.$store.state.contact.nom;
            },
            set(value) {
                this.$store.commit("contact/setNom", value);
            },
        },
        prenoms: {
            get() {
                return this.$store.state.contact.prenoms;
            },
            set(value) {
                this.$store.commit("contact/setPrenoms", value);
            },
        },
        email: {
            get() {
                return this.$store.state.contact.email;
            },
            set(value) {
                this.$store.commit("contact/setEmail", value);
            },
        },
        telPortable: {
            get() {
                return this.$store.state.contact.telPortable;
            },
            set(value) {
                this.$store.commit("contact/setTelPortable", value);
            },
        },
        telDomicile: {
            get() {
                return this.$store.state.contact.telDomicile;
            },
            set(value) {
                this.$store.commit("contact/setTelDomicile", value);
            },
        }
    },
    methods: {
        async submit(contact) {
            if(contact.id) {
                await this.$axios.put("http://localhost:4000/contacts/" + contact.id, {
                    nom: contact.nom,
                    prenoms: contact.prenoms,
                    email: contact.email,
                    telPortable: contact.telPortable,
                    telDomicile: contact.telDomicile
                })
            } else {
                await this.$axios.post("http://localhost:4000/contacts/", {
                    nom: contact.nom,
                    prenoms: contact.prenoms,
                    email: contact.email,
                    telPortable: contact.telPortable,
                    telDomicile: contact.telDomicile
                })
            }

            this.resetContact({ id: 0, nom: "", prenoms: "", email: "", telPortable: "", telDomicile: "" });
            this.$store.commit(
                "contacts/storeData",
                (await this.$axios.get("http://localhost:4000/contacts/")).data
            )

            this.$emit('update:dialog', false)
        },
        resetContact(contact) {
            this.$store.commit("contact/setId", contact.id)
            this.$store.commit("contact/setNom", contact.nom)
            this.$store.commit("contact/setPrenoms", contact.prenoms)
            this.$store.commit("contact/setEmail", contact.email)
            this.$store.commit("contact/setTelPortable", contact.telPortable)
            this.$store.commit("contact/setTelDomicile", contact.telDomicile)
        }
    },
}
</script>

<style>

</style>