<template>
    <div>
        <br>
        <v-data-table
            :headers="headers"
            :items="contacts"
            class="elevation-1"
        >
            <template v-slot:top>
                <v-toolbar
                    flat
                >
                    <v-toolbar-title style="color: #2196F3">
                        LISTE DES CONTACTS
                    </v-toolbar-title>

                    <v-divider
                        class="mx-4"
                        inset
                        vertical
                    ></v-divider>

                    <v-spacer></v-spacer>

                    <v-btn color="info" @click="dialog = true" class="mr-0">
                        AJOUTER UN CONTACT
                    </v-btn>
                </v-toolbar>
            </template>

            <template v-slot:[`item.modifier`]="{ item }">
                <v-btn color="warning" @click="dialog = true, modifierItem(item)">
                    Modifier
                </v-btn>
            </template>
            <template v-slot:[`item.supprimer`]="{ item }">
                <v-btn color="error" @click="supprimerItem(item._id)">
                    Supprimer
                </v-btn>
            </template>
        </v-data-table>

        <v-dialog
            v-model="dialog"
            persistent
            max-width="600"
        >
            <template v-slot:default="dialog">
                <v-card>
                    <v-toolbar
                        color="primary"
                        dark
                    >
                        {{ id ? "MODIFICATION" : "AJOUT " }} D'UN CONTACT
                    </v-toolbar>
                    
                    <v-card-text>
                        <div class="text-h2">
                            <Form v-if="dialog.value" :dialog.sync="dialog.value" />
                        </div>
                    </v-card-text>

                    <v-card-actions class="justify-end">
                        <v-btn
                            text
                            @click="dialog.value = false"
                        >
                            Fermer 
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </template>
        </v-dialog>
    </div>
</template>

<script>
export default {
    data () {
      return {
        dialog: false,
        headers: [
          { text: 'Nom', value: 'nom' },
          { text: 'Prénoms', value: 'prenoms' },
          { text: 'Email', value: 'email' },
          { text: 'Téléphone Portable', value: 'telPortable' },
          { text: 'Téléphone Domicile', value: 'telDomicile' },
          { text: 'Modifier', value: 'modifier' },
          { text: 'Supprimer', value: 'supprimer' }
        ]
      }
    },
    computed: {
        contacts() {
            return this.$store.state.contacts.data
        },
        id: {
            get() {
                return this.$store.state.contact.id;
            },
        }
    },
    async fetch() {
        this.$store.commit(
            "contacts/storeData",
            (await this.$axios.get("http://localhost:4000/contacts")).data
        )
    },
    methods: {
        async getItems() {
            this.$store.commit(
                "contacts/storeData",
                (await this.$axios.get("http://localhost:4000/contacts")).data
            )
        },
        async supprimerItem(id) {
            await this.$axios.delete("http://localhost:4000/contacts/" + id)

            this.getItems()
        },
        async modifierItem(contact) {
            this.$store.commit("contact/setId", contact._id)
            this.$store.commit("contact/setNom", contact.nom)
            this.$store.commit("contact/setPrenoms", contact.prenoms)
            this.$store.commit("contact/setEmail", contact.email)
            this.$store.commit("contact/setTelPortable", contact.telPortable)
            this.$store.commit("contact/setTelDomicile", contact.telDomicile)
        }
    },
}
</script>

<style>

</style>