<template>
    <div>
        <v-app>
            <v-main>
                <v-app-bar color="info" style="color: white;">
                    <v-app-bar-title>
                        <b>
                            GESTION FACILE DE CONTACTS
                        </b>
                    </v-app-bar-title>
                </v-app-bar>
                <v-container justify="center" align="center">
                    <Nuxt />
                </v-container>
            </v-main>
        </v-app>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>